:root {
  --background: #f2f7ffff;
  --error: #b3261eff;
  --errorContainer: #f9dedcff;
  --inverseOnSurface: #d4e7ffff;
  --inversePrimary: #5cc2ffff;
  --inverseSurface: #000f1eff;
  --onBackground: #0a314dff;
  --onError: #ffffffff;
  --onErrorContainer: #410e0bff;
  --onPrimary: #e9f4ffff;
  --onPrimaryContainer: #003046ff;
  --onSecondary: #ecf3ffff;
  --onSecondaryContainer: #004b78ff;
  --onSurface: #0a314dff;
  --onSurfaceVariant: #3e5e7dff;
  --onTertiary: #f5f1ffff;
  --onTertiaryContainer: #291a89ff;
  --outline: #5a7a9aff;
  --outlineVariant: #90b0d3ff;
  --primary: #00628bff;
  --primaryContainer: #00b6ffff;
  --scrim: #000000ff;
  --secondary: #006098ff;
  --secondaryContainer: #aed5ffff;
  --surface: #f2f7ffff;
  --tonalSurface: #e6eff9ff;
  --surfaceBright: #f2f7ffff;
  --surfaceContainer: #d9eaffff;
  --surfaceContainerHigh: #cfe5ffff;
  --surfaceContainerHighest: #c4e0ffff;
  --surfaceContainerLow: #e8f2ffff;
  --surfaceContainerLowest: #ffffffff;
  --surfaceDim: #b4d8ffff;
  --surfaceTint: #00628bff;
  --surfaceVariant: #c4e0ffff;
  --tertiary: #554db5ff;
  --tertiaryContainer: #ada7ffff;
  --filledTonalButtonContainerColor: #aed5ffff;
  --filledTonalButtonContentColor: #004b78ff;
  --filledTonalButtonDisabledContainerColor: #0a314d1f;
  --filledTonalButtonDisabledContentColor: #0a314d61;
  --filledCardContainerColor: #c4e0ffff;
  --filledCardContentColor: #3e5e7dff;
  --filledCardDisabledContainerColor: #c4e0ffff;
  --filledCardDisabledContentColor: #3e5e7d61;
}