html,
body,
input,
dialog,
p,
div {
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;
}

:root {
  --main-color: #568cff;
  --dark-color: #212121;
}

body {
  font-family: system-ui;
  overscroll-behavior-y: contain;
  background: #E0E8FF;
  width: 100%;
  height: 100vh;
  overflow-y: auto;
}

.main {
  --scale: calc(1 / var(--bi-wallpaper-scale));
  --aspect-ratio: var(--bi-SP-aspect-ratio, 1);
  position: relative;
  z-index: 1;
  height: calc(100vw / (var(--aspect-ratio)));
  transition: all ease-in-out .3s;
  overflow: hidden;
  transform-origin: bottom center;
  background: var(--bd-bg-color, var(--dark-color));

  &.prev {
    --scale: 1
  }
}

.c {
  text-align: center;
}

#box {
  position: relative;
  margin: 0 auto;
  width: 100%;
  aspect-ratio: var(--aspect-ratio);
  user-select: none;
  transition: all .3s ease-in-out;
  overflow: hidden;
  transform-origin: bottom center;
}

.unlock {
  transform: scale(.9);

  #bg {
    z-index: 10;
  }

  .img {
    touch-action: none;
  }
}

.ani {
  animation: zoom 1 both linear;
  animation-timeline: scroll(root block);
  animation-range: 5% 70%;
}

@keyframes zoom {
  from {
    transform: scale(1);
  }

  to {
    transform: scale(.4);
  }
}

.br {
  filter: brightness(calc(1 / var(--bi-lockscreen-drim)));
}

.disabled {
  --btn-color: #aaa;
  pointer-events: none;
}

.hide {
  opacity: 0;
}

#container,
#mock,
#preview {
  top: 0;
  left: 0;
  width: 100%;
  aspect-ratio: var(--aspect-ratio);
  border-radius: var(--bi-radius);
  transform: scale(var(--scale));
  transition: all ease-in-out .3s;
}

#preview {
  --sb-height: var(--bi-sb-height);
  --sb-top: var(--bi-sb-top);
  --sb-offset-x: var(--bi-sb-offset-x);
  --sc-size: var(--bi-sc-size);
  --sc-bottom: var(--bi-sc-bottom);
  --sc-offset-x: var(--bi-sc-offset-x);
  --sc-bg-color: var(--bi-sc-bg-color);
  --fp-size: var(--bi-fp-size);
  --fp-bottom: var(--bi-fp-bottom);
  --fp-offset-x: var(--bi-fp-offset-x);
  --fp-bg-color: var(--bi-fp-bg-color);
  z-index: 10;
  color: #fff;
  pointer-events: none;
  backdrop-filter: brightness(var(--bi-lockscreen-drim));

  .ptime {
    --t-top: 0px;
    --t-height: 200px;
    --t-x: 281 / 120;
    --t-size: 120px;
    --t-left: 61px;
    margin-top: calc(var(--sb-top) * 2 + var(--sb-height));
    margin-left: var(--t-left);
    padding-top: var(--t-top);
    color: var(--main-color);
    line-height: var(--t-height);
    height: var(--t-height);
    font-size: var(--t-size);
    width: calc(var(--t-x) * var(--t-size));
    overflow: hidden;
  }

  .pdata {
    margin-left: 64px;
  }

  .hole {
    top: var(--bi-hole-top);
    left: calc(50vw - var(--bi-hole-size) / 2);
    width: var(--bi-hole-size);
    aspect-ratio: 1;
    background: #000;
    border-radius: 100%;
  }

  .psb {
    background: transparent;
    opacity: 1;
    display: flex;
    justify-content: space-between;
    line-height: 14px;
  }

  .psc,
  .pfp {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 22px;
    opacity: 1;
    color: #000;
  }

  .pfp {
    font-size: 28px;
    line-height: var(--fp-size);
  }
}

#container {
  pointer-events: all;
  background: var(--bd-bg-color);
  z-index: 10;
}

#bd {
  width: 100%;
  height: 100%;
  z-index: var(--bd-z-index);
  border: var(--bd-width) solid var(--bd-color);
  border-radius: var(--bi-radius);
}

#hm {
  z-index: calc(var(--sb-z-index) + 1);
  top: calc(var(--bi-hole-size) / 2 + var(--bi-hole-top) - var(--hm-hight) / 2);
  left: calc(50% - var(--hm-width) / 2);
  width: var(--hm-width);
  height: var(--hm-hight);
  background: var(--hm-bg-color);
  border-radius: var(--hm-radius);
}

#bg {
  opacity: var(--bg-opacity);
  border-radius: var(--bg-radius);
  height: var(--bg-height);
  left: var(--bg-offset-x);
  right: var(--bg-offset-x);
  top: var(--bg-top);
  background: var(--bg-color);
  filter: blur(var(--bg-blur));
  overflow: hidden;
}

.img {
  height: 100%;
  transform-origin: 0 0;
  background: url('../w.png') center/contain no-repeat;
  transform: var(--bg-SP-trans);
}

#cd {
  opacity: var(--cd-opacity);
  border-radius: var(--cd-radius);
  height: var(--cd-height);
  left: var(--cd-offset-x);
  right: var(--cd-offset-x);
  top: var(--cd-top);
  background: var(--cd-bg-color);
  backdrop-filter: blur(var(--cd-blur));
}

#sb,
.psb {
  opacity: var(--sb-opacity);
  border-radius: var(--sb-radius);
  height: var(--sb-height);
  left: var(--sb-offset-x);
  right: var(--sb-offset-x);
  top: var(--sb-top);
  background: var(--sb-bg-color);
  backdrop-filter: blur(var(--sb-blur));
  z-index: var(--sb-z-index);
}

.pfp,
#fp {
  opacity: var(--fp-opacity);
  border-radius: 100%;
  height: var(--fp-size);
  aspect-ratio: 1;
  bottom: var(--fp-bottom);
  left: var(--fp-offset-x);
  background: var(--fp-bg-color);
  backdrop-filter: blur(var(--fp-blur));
}

.psc,
.shortcuts {
  opacity: var(--sc-opacity);
  bottom: var(--sc-bottom);
  width: var(--sc-size);
  aspect-ratio: 1;
  border-radius: 100%;
  background: var(--sc-bg-color);
  backdrop-filter: blur(var(--sc-blur));
  left: var(--sc-offset-x);

  &.other {
    left: unset;
    right: var(--sc-offset-x);
  }
}

#console {
  --trans-y: -30vh;
  display: flex;
  flex-direction: column;
  position: absolute;
  z-index: 10;
  bottom: var(--trans-y);
  border-radius: var(--bi-radius) var(--bi-radius) 0 0;
  width: 100%;
  height: calc(-1 * var(--trans-y));
  padding: max(var(--bi-radius) / 3, 16px) 16px;
  background: #fffc;
  transition: transform ease-in-out 0.3s;

  &.swap {
    --trans-y: 40vh;
    bottom: unset;
    border-radius: 0 0 var(--bi-radius) var(--bi-radius);
    top: calc(-1 * var(--trans-y));
    height: var(--trans-y);

    #swapBtn {
      --h: 8vh;
    }
  }
}

#swapBtn {
  --h: 32px;
  height: var(--h);
  line-height: var(--h);
}

#form {
  --btn-h: 100%;
  padding: 8px;
  display: flex;
  flex-direction: column;
  overflow-y: auto;

  .items {
    display: flex;
    align-items: center;
    gap: 6px;
    justify-content: space-between;

    span {
      min-width: 120px;
    }

    input {
      height: 32px;
      width: 100px;
      flex: 5;
      text-indent: 8px;
      background: #0000;
      border-radius: 8px;
    }
  }
}

.pack {
  --trans-y: -75px;
  --btn-bg: var(--dark-color);
  --btn-color: #fff;
  --r: max(4px, var(--bi-radius) - 16px);
  padding: 8px 16px;
  transition: transform 0.3s;
}

#list {
  height: 68px;
  align-items: center;
  flex-wrap: nowrap;
  overflow-x: auto;
  margin-bottom: 8px;
}

.pages {
  display: flex;
  align-items: flex-start;
  gap: 8px;
  overflow: hidden;
  margin-bottom: 100px;

  .page {
    flex: 0 0 100%;
  }
}

.upload {
  input {
    display: none;
  }
}

.btn {
  display: flex;
  flex: auto;
  white-space: nowrap;
  user-select: none;
  padding: 12px;
  background: var(--btn-bg);
  border-radius: var(--r);
  color: var(--btn-color);
  transition: border-radius .3s;
  height: var(--btn-h);
  align-items: center;
  justify-content: center;

  &:active {
    border-radius: var(--btn-active-r, 4px);
  }
}

.actived {
  --btn-color: var(--main-color);
}

#saves {
  height: 160px;
  overflow-y: auto;
  margin: 8px 0;

  &:empty::before {
    display: block;
    text-align: center;
    content: 'No record';
  }
}

.record {
  padding: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.board {
  --trans-y: -168px;
  position: relative;
  transition: transform ease-in-out 0.3s;
}

.cover {
  transform: translateY(var(--cover-y));
}

.toolbar {
  --offset: max(var(--bi-radius) / 4, 8px);
  display: flex;
  top: var(--offset);
  right: var(--offset);
}

.g {
  display: flex;
  flex-wrap: wrap;
}

.end {
  padding-bottom: 8px;
  border-bottom: .5px solid #666;
}

.a {
  position: absolute;
}

.b {
  font-weight: 500;
}

.x {
  line-height: 28px;
  font-size: 28px;
}

._s {
  padding: 4px 8px;
  border-radius: 99px;
  border: .5px solid currentColor;
}

.gap {
  gap: var(--gap, 8px);
}

.hs {
  &::-webkit-scrollbar {
    display: none;
  }
}

#codeBox {
  display: block;
  min-height: 160px;
  white-space: break-spaces;
}

#tab {
  --p: 10px;
  --r1: max(var(--bi-radius) - var(--p), 14px);
  --r: 8px;
  --btn-h: calc(var(--r1) * 2 + 4px);
  --btn-color: #fff;
  position: fixed;
  inset: auto var(--p) var(--p);
  z-index: 20;
  display: flex;
  align-items: center;
  animation: scroll 1 both linear;
  animation-timeline: scroll(root block);
  animation-range: 0% 30%;

  .g {
    flex: 10;
    justify-content: space-evenly;
    border-radius: var(--r);
  }

  #tabList {
    --gap: 2px;
    --btn-bg: #2d2bcc;

    :first-child {
      border-top-left-radius: var(--r1);
      border-bottom-left-radius: var(--r1);
    }

    :last-child {
      border-top-right-radius: var(--r1);
      border-bottom-right-radius: var(--r1);
    }
  }

  .btn {
    box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 1px -1px, rgba(0, 0, 0, 0.14) 0px 1px 1px 0px, rgba(0, 0, 0, 0.12) 0px 1px 3px 0px;
    padding: 0;
  }

  #edit {
    --r: var(--r1);
    --btn-bg: #c0bfea;
  }
}

@keyframes scroll {
  from {
    transform: translateY(180px);
  }

  to {
    transform: translateY(0px);
  }
}

#notif {
  --offset: 10px;
  --top: -100px;
  --trans-y: calc(var(--top) - var(--offset));
  position: fixed;
  z-index: 30;
  bottom: var(--top);
  width: calc(100% - var(--offset) * 2);
  margin: 0 var(--offset);
  padding: 16px 24px;
  border-radius: max(14px, var(--bi-radius) - var(--offset));
  background: rgb(from var(--noti-bg, #fff) r g b/0.6);
  backdrop-filter: blur(8px);
  transition: transform ease-in-out 0.3s;
}

.tip {
  --noti-bg: var(--main-color);
}

.err {
  --noti-bg: #ff4646;
}

.slide {
  transform: translateY(var(--trans-y));
}